.enteryPage-background{
    background-image: url('C:\Users\The user\Desktop\finalProject\Client\src\images\backgroundImage.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}