

.navDiv {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #e2dfdf;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* צל רך משופר */
  padding: 20px; /* ריווח פנימי מוגדל */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10; /* ודא שה-NAV נמצא מעל כל תוכן אחר */
}

.navbar-container {
  display: flex;
  align-items: center;
}

.navbar-container img {
  width: 50px; /* התאמה אופציונלית */
  height: 50px; /* התאמה אופציונלית */
  border-radius: 50%; /* תמונה עגולה */
  margin-right: 20px; /* מרווח מוגדל */
}

.username-placeholder {
  font-size: 20px; /* גודל גופן מוגדל */
  font-weight: bold;
  color: #6da8e2;
  text-shadow: 1px 1px 1px #077cf1; /* Adjusted shadow parameters and color */
  margin-left: -10vw;
}

.items {
  display: flex;
}

.link {
  display: inline-block;
  margin-right: 20px; /* מרווח מוגדל */
  text-decoration: none;
  color: #333;
  font-weight: bold;

  font-size: 18px; /* גודל גופן מוגדל */
  transition: color 0.3s ease; /* אפקט מעבר רך */
}

.link:hover {
  color: #FFC517; /* צבע טקסט בעת ריחוף */
}

.sighUp {
  background-color: #FFC517;
  color: #fff;
  border: none;
  padding: 12px 20px; /* ריווח פנימי מוגדל */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* אפקט מעבר רך */
  margin-right: 5vw;
}
.logout{
  background-color:  #077cf1;
  color: #fff;
  border: none;
  padding: 12px 20px; /* ריווח פנימי מוגדל */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: -10vw;
}
.login{
  background-color:  #FFC517;
  color: #fff;
  border: none;
  padding: 12px 20px; /* ריווח פנימי מוגדל */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: -15vw;
}
.sighUp:hover {
  background-color: #FFC517; /* צבע רקע בעת ריחוף */
}

/* כפתור מנהל */

.addManeger {
  background-color:  #077cf1;

  color: #fff;
  border: none;
  padding: 12px 20px; /* ריווח פנימי מוגדל */
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5vw;
  transition: background-color 0.3s ease; /* אפקט מעבר רך */
}

.addManeger:hover {
  background-color: #0056b3; /* צבע רקע בעת ריחוף */
}

/* סגנון רכיבים נוספים */

.AllUserMassege,
.AddManeger {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* צל רך משופר */
  padding: 20px; /* ריווח פנימי מוגדל */
  z-index: 11; /* ודא שהרכיבים נמצאים מעל ה-NAV */
  display: none; /* הסתר כברירת מחדל */
}

.AllUserMassege.show,
.AddManeger.show {
  display: block; /* הצג את הרכיב בעת הפעלת מצב "הצג" */
}

.add-manager-form {
  display: flex;
  flex-direction: column;
  z-index: 1000000;
  position: absolute;
  width: 30vw; /* Adjusted width */
  background-color: #fff; /* White background for form */
  padding: 20px;
  padding: 0 2vw 0 2vw ;
  margin-top: -31vh;
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}


.massageB{
  background: none;
  font-size: 30px;
  margin-right: -10vw;
}
.massageB :hover{
  border: none;
}
.reserved_ads{
  background: none;
  font-size: 30px;
}
.actionMassage{
  display: flex;
  /* flex-direction: column; */
}
/* Keep your existing general styles */

/* Navigation bar styles */
