.navDiv {
   list-style-type: none;
   display: flex;
   background-color: grey;
   padding: 4vh 0 4vh 0;
   width: 98.5vw;
   margin-bottom: 0;

 }
 .login{
   margin-left: 2vw;
   
 }

 .sighUp {
   margin-left: 15vw;
 }

 .reservedAds{
   margin-left: 5vw;
 }
 .addItem {
  margin-left: 5vw;
}
.home{
  margin-right: 20vw;
  margin-left: 10vw;
}
.link{
  color: azure;
}
.link:hover{
  color:bisque;
}
.items{
  display: flex;
}
.item{
  margin-left: 2vw;
}
.cars{
  margin-right: -10vw;
}
.businesses{
  margin-left: 40vw;
}
